@import "mixin";
 *, ::after, ::before {
	 box-sizing: border-box;
}
 a, abbr, acronym, address, applet, big, blockquote, body, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, tt, ul, var {
	 border: 0;
	 margin: 0;
	 outline: none !important;
	 padding: 0;
	 vertical-align: baseline;
	 font-family: 'Sora', sans-serif;
}
 @font-face {
	 font-family: 'GreatSejagad';
	 src: url('../font/GreatSejagad.eot');
	 src: url('../font/GreatSejagad.eot') format('embedded-opentype'), url('../font/GreatSejagad.woff2') format('woff2'), url('../font/GreatSejagad.woff') format('woff'), url('../font/GreatSejagad.ttf') format('truetype'), url('../font/GreatSejagad.svg#GreatSejagad') format('svg');
}
 body {
	 margin: 0;
	 padding: 0;
	 background: #fff;
	 background-repeat: repeat-x;
	 font-size: 14px;
	 color: #272320;
}
 p {
	 font-family: 'Sora', sans-serif;
}
 a {
	 color: inherit;
	 outline: none !important;
	 text-decoration: none;
}
 a:hover {
	 color: inherit;
	 text-decoration: none;
}
 .dropdown-toggle::after {
	 border: none !important;
	 content: "\f107";
	 font-family: "fontAwesome";
	 top: 8px;
	 right: -8px;
	 position: absolute;
}
 button:focus {
	 outline: none !important;
}
 .form-select:focus {
	 box-shadow: none !important;
}
 ol {
	 padding-left: 0;
}
 ol li {
	 list-style: inherit;
}
 ul {
	 padding: 0;
	 list-style: none;
	 margin: 0;
}
 ul li {
	 list-style: none;
}
 img {
	 vertical-align: top;
	 max-width: 100%;
	 border: none;
	 outline: none;
}
 .btn {
	 border: none !important;
}
 .btn:focus {
	 box-shadow: none;
	 border: none;
	 outline: 0;
}
 .btn:focus, .form-control:focus, .resizeselect:focus {
	 box-shadow: none;
	 border: none;
	 outline: 0;
}
 .logo {
	 width: 80px;
	 display: inline-block;
	 transform: scale(1.4);
}
 .login-btn span, .bars-btn span {
	 width: 25px;
	 display: inline-block;
}
 .top-head {
	 position: relative;
	 height: 768px;
	 background: #fff no-repeat;
	 background-position: 30% 110px, top right;
	 background-image: url(../images/globe-img.png), url(../images/landing-bg.jpg);
	 background-repeat: no-repeat;
}
 .banner-stu h1 {
	 font-family: 'Sora', sans-serif;
	 font-weight: 700;
	 font-size: 45px;
	 color: #221639;
}
 .sb-tbn {
	 background: #f82d5e;
	 color: #fff !important;
	 font-family: 'Sora', sans-serif;
}
 .video-id-section {
	 width: 100%;
	 display: inline-block;
	 background: #fff;
	 position: relative;
	 box-shadow: #1c1726 47 1px 42px 49px;
}
 .video-id-section span {
	 position: relative;
	 width: 100%;
	 z-index: 2;
	 background: #fff;
	 display: inline-block;
}
 .video-id-section video {
	 width: 100%;
	 display: inline-block;
	 height: 450px;
}
 .login-btn {
	 color: #fff !important;
	 font-family: 'Sora', sans-serif;
	 font-weight: 600;
}
 .login-btn span, .bars-btn span {
	 width: 25px;
	 display: inline-block;
}
 .login-btn img {
	 filter: brightness(0) invert(1);
}
 .cret-btn {
	 background: #f82d5e;
	 color: #fff !important;
	 font-family: 'Sora', sans-serif;
	 font-weight: 600;
	 margin: 0 25px;
}
 .bars-btn img {
	 filter: brightness(0) invert(1);
}
 .video-id-section:after {
	 position: absolute;
	 background: url(../images/dots-png.png) no-repeat;
	 content: "";
	 right: -60px;
	 top: -40px;
	 width: 232px;
	 height: 239px;
	 z-index: 1;
}
 .topbodfy01 {
	 padding: 120px 0;
	 position: relative;
	 background: #fff no-repeat;
	 background-image: url(../images/grapicks2.png), url(../images/bg-graidendt.jpg);
	 background-position: right top, left top;
	 background-size: 12%, 100%;
}
 .topbodfy01 figure {
	 width: 49%;
	 display: inline-block;
	 overflow: hidden;
	 margin: 0;
	 position: absolute;
	 z-index: 2;
	 left: -36px;
	 bottom: 0;
}
 .topbodfy01 h1 {
	 font-family: 'Sora', sans-serif;
	 font-weight: 700;
	 font-size: 51px;
	 color: #221639;
}
 .topbodfy01 p {
	 font-family: 'Sora', sans-serif;
	 font-size: 25px;
	 color: #221639;
}
 .topbodfy02 h1 {
	 font-family: 'Sora', sans-serif;
	 font-weight: 700;
	 font-size: 46px;
	 color: #221639;
}
 .topbodfy02 ul li {
	 width: 80%;
	 height: 72px;
	 border-radius: 19px;
	 background: #fff;
	 color: #000;
	 font-family: 'Sora', sans-serif;
	 margin-bottom: 20px;
	 display: flex;
	 align-items: center;
	 text-transform: capitalize;
	 filter: drop-shadow(-1px 10px 7px rgba(50, 50, 0, 15));
}
 span.iconh {
	 width: 62px;
	 height: 62px;
	 background: #fff;
	 border-radius: 50%;
	 color: #000;
	 display: grid;
	 align-content: center;
	 justify-content: center;
	 font-size: 20px;
	 margin-right: 10px;
	 margin-left: 20px;
}
 .topbodfy02 ul li span {
	 font-family: 'Sora', sans-serif;
	 font-weight: 600;
}
 .topbodfy02 .dots-bg {
	 height: 30%;
	 left: 0;
	 position: absolute;
	 top: 40px;
	 width: 20%;
	 background: #fff url(../images/dot.png);
	 z-index: -1;
}
 .topbodfy02 {
	 position: relative;
	 padding: 60px 0;
}
 .iomhj {
	 height: 400px;
	 overflow: hidden;
	 border-radius: 5px;
	 filter: drop-shadow(-1px 10px 18px rgba(50, 50, 0, 0.5));
	 width: 85%;
	 margin-left: auto;
}
 .iomhj img {
	 object-fit: cover;
	 width: 100%;
	 height: 100%;
	 object-position: left;
}
 .topbodfy02 {
	 padding: 60px 0 80px 0;
	 background-image: url(../images/grapicks2.png);
	 background-repeat: no-repeat;
	 background-position: right top;
	 background-size: 20%;
}
 .comnet {
	 background: #4e61d4;
	 background: linear-gradient(160deg, rgba(78, 97, 212, 1) 0%, rgba(70, 21, 169, 1) 53%);
	 padding: 30px 0;
	 position: relative;
	 margin-top: 80px;
}
 .left-img-blox {
	 position: absolute;
	 left: 0;
	 top: 0;
	 width: 45%;
	 min-height: 650px;
	 margin: 0;
	 bottom: 0;
}
 .comnet h1 {
	 color: #fff;
	 font-family: 'Sora', sans-serif;
	 font-weight: 700;
	 font-size: 51px;
}
 .comnet p {
	 color: #fff;
	 font-family: 'Sora', sans-serif;
	 font-size: 25px;
}
 .comnet .accordion-item {
	 margin-top: 10px;
}
 .comnet .accordion-item h2 {
	 font-family: 'Sora', sans-serif;
	 font-weight: 700;
	 color: #000;
	 margin-top: 0;
}
 .comnet .accordion-item h2 .accordion-button {
	 font-family: 'Sora', sans-serif;
	 font-weight: 700;
	 color: rgba(70, 21, 169, 1);
}
 .left-img-blox img {
	 object-fit: cover;
	 width: 100%;
	 height: 100%;
}
 .comnet .accordion-item p {
	 color: #000;
	 font-size: 16px;
}
 .testimoalals {
	 background: #2b125e;
	 padding: 60px 0;
	 position: relative;
	 color: #fff;
	 min-height: 550px;
}
 .userts-v {
	 position: relative;
	 display: inline-block;
	 width: 100%;
	 padding: 80px 0;
	 overflow: hidden;
	 background-image: url(../images/grapicks2.png), url(../images/grapicks4.png);
	 background-repeat: no-repeat;
	 background-position: right top, left bottom;
}
 .comgh h1 {
	 font-family: 'Sora', sans-serif;
	 font-weight: 700;
	 font-size: 51px;
	 color: #221639;
}
 .userts-v h6 {
	 font-family: 'Sora', sans-serif;
	 font-size: 25px;
	 font-weight: 700;
	 color: #2b125e;
}
 .userts-v p {
	 font-family: 'Sora', sans-serif;
	 font-size: 25px;
	 font-size: 25px;
}
 .userts-v figure img {
	 object-fit: cover;
	 width: 100%;
	 height: 100%;
	 position: relative;
	 z-index: 2;
	 border-radius: 8px;
}
 .userts-v figure {
	 height: 450px;
	 width: 80%;
	 position: relative;
	 margin: 0;
	 margin-left: auto;
	 filter: drop-shadow(-1px 10px 18px rgba(50, 50, 0, 0.5));
}
 .testimoalals .left-img-blox {
	 min-height: 550px;
	 right: 0;
	 left: inherit !important;
}
 .slider-ol h5 {
	 color: #fff;
	 font-family: 'Sora', sans-serif;
	 font-size: 35px;
	 font-weight: 700;
}
 .slider-ol p {
	 color: #fff;
	 font-family: 'Sora', sans-serif;
	 font-size: 20px;
}
 .comon-head1 {
	 font-family: 'Sora', sans-serif;
	 color: #1a1f2e;
	 text-align: center;
	 font-size: 51px;
	 font-weight: 700;
}
 .get-in-touch h5 {
	 font-family: 'Sora', sans-serif;
	 margin-bottom: 0;
}
 .get-in-touch .form-group {
	 margin-bottom: 20px;
}
 .get-in-touch label {
	 font-family: 'Sora', sans-serif;
	 color: #1a1f2e;
	 margin-bottom: 10px;
}
 .get-in-touch .form-control {
	 background-color: rgba(0, 0, 0, 0);
	 -webkit-appearance: none;
	 border: 1px solid #c1c7c8;
	 border-radius: 0;
	 color: #565f67;
	 padding: 0 1em;
	 height: 48px;
}
 .get-in-touch textarea.form-control {
	 resize: none;
	 height: 160px;
}
 .get-in-touch .btn-submitr {
	 background: #f82d5e;
	 color: #fff;
	 font-family: 'Sora', sans-serif;
	 border: solid 2px #f82d5e !important;
	 font-size: 20px;
	 padding: 0.65em 2.5em;
	 margin: auto;
	 display: table;
	 border-radius: 0;
	 transition: all 0.5s;
	 margin-top: 20px;
}
 .get-in-touch label {
	 font-family: 'Sora', sans-serif;
	 color: #1a1f2e;
	 margin-bottom: 10px;
}
 footer {
	 background: #000;
	 color: #fff;
	 font-size: 15px;
}
 .bg-fdiv01 {
	 position: absolute;
	 left: 0;
	 right: 0;
	 top: 0;
	 width: 100%;
	 height: 350px;
}
 .bg-fdiv01 img {
	 object-fit: cover;
	 opacity: 35%;
	 filter: blur(0px);
}
 .texr07 {
	 position: relative;
	 min-height: 222px;
}
 .spo-width {
	 width: 87%;
}
 .checkall-btn {
	 position: relative;
	 background: #3141eb;
	 color: #fff !important;
	 cursor: pointer;
}
 .checkall-btn h5 {
	 font-size: 14px;
	 font-weight: 600;
}
 .checkall-btn input {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 left: 0;
	 right: 0;
	 top: 0;
	 opacity: 0;
}
 .top-headr {
	 min-height: 272px;
	 background: #000;
	 background-position: center top;
	 background-size: 100%;
	 border-radius: 45px;
	 padding: 45px;
	 overflow: hidden;
	 margin-top: 60px;
	 position: relative;
}
 .top-headr h1 {
	 color: #fff;
	 font-size: 35px;
	 font-weight: 700;
	 text-shadow: 1px 1px 16px #000, 1px 1px 21px #888;
}
 .top-headr p {
	 font-family: 'Sora', sans-serif;
	 color: #fff;
	 font-size: 17px;
	 line-height: 148%;
	 margin-top: 8px;
	 text-shadow: 1px 1px 16px #000, 1px 1px 21px #888;
}
 .img-top {
	 width: 142px;
	 height: 134px;
	 background: #fff;
	 box-shadow: 0px 4px 6px 5px #000;
	 border-radius: 30px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 flex-direction: column;
	 text-align: center;
	 padding: 10px 0;
}
 .img-top figure {
	 margin: 0 !important;
	 width: 80px;
	 height: 70px;
}
 .img-top h6 {
	 font-family: 'Sora', sans-serif;
	 font-weight: 600;
	 color: #221639;
	 margin-top: 5px;
	 width: 90%;
	 margin: auto;
	 display: block;
	 word-break: break-word;
	 margin: 10px 0 0 0;
}
 .body-part0 {
	 padding-top: 50px;
}
 .body-part0 .topbd-head01 h1 {
	 font-weight: 700;
	 font-size: 30px;
	 color: #221639;
}
 .body-part0 .tabsd-sctions {
	 background: #fff;
	 box-shadow: 0px -45px 100px 11px rgba(0, 0, 0, 0.08);
	 border: 1px solid;
	 border-image-source: linear-gradient(180deg, rgba(148, 148, 148, 0.22) 0%, rgba(0, 0, 0, 0) 100%);
	 margin-top: 40px;
	 padding: 30px;
}
 .body-part0 .tabsd-sctions .nav {
	 flex-wrap: nowrap;
	 justify-content: center;
}
 .tabsd-sctions .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	 background: inherit !important;
	 color: inherit !important;
}
 .tabsd-sctions .nav-pills > li:last-child .nav-link {
	 margin-left: auto;
}
 .tabsd-sctions .nav-pills > li:nth-child(2) .nav-link {
	 margin: auto;
}
 .tabsd-sctions .nav-item {
	 width: 32.3%;
}
 .oung-div {
	 width: 100%;
	 display: inline-block;
	 text-align: center;
}
 .oung-div figure {
	 width: 81px;
	 height: 82px;
	 background: #3254ff;
	 margin: auto !important;
	 background: #fff;
	 border: 3px solid #3141eb;
	 border-radius: 20px;
	 transition: all 0.5s;
	 display: grid;
	 align-content: center;
	 justify-content: center;
}
 .oung-div figure img {
	 transition: all 0.5s;
	 width: 50%;
	 margin: auto;
}
 .oung-div h5 {
	 font-family: 'Sora', sans-serif;
	 font-weight: 600;
	 margin-top: 20px;
	 color: #3141eb;
}
 .oung-div label {
	 font-family: 'Sora', sans-serif;
	 font-weight: 600;
	 margin-top: 20px;
	 color: #3141eb;
	 cursor: pointer;
}
 .tabsd-sctions .nav-pills .nav-link.active .oung-div figure, .nav-pills .show > .nav-link .oung-div figure {
	 background: #3141eb;
}
 .tabsd-sctions .nav-pills .nav-link.active .oung-div figure img, .nav-pills .show > .nav-link .oung-div figure img {
	 filter: brightness(0) invert(1);
}
 .comon-section-forms .items-form-check {
	 position: relative;
	 width: 100%;
	 height: 120px;
	 overflow: hidden;
	 text-align: center;
}
 .comon-section-forms .items-form-check input[type=checkbox] {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 margin: 0;
	 cursor: pointer;
	 opacity: 0;
}
 .comon-section-forms .items-form-check label {
	 width: 100%;
	 display: inline-block;
	 color: #353535;
}
 .comon-section-forms .items-form-check label span {
	 font-size: 15px;
	 font-weight: 600;
	 width: 90%;
	 text-overflow: ellipsis;
	 white-space: nowrap;
	 margin: auto;
}
 .comon-section-forms .items-form-check label figure {
	 width: 80px;
	 height: 80px;
	 border-radius: 50%;
	 overflow: hidden;
	 border: solid 5px #fff;
	 margin: auto;
}
 .comon-section-forms .items-form-check label figure:after {
	 position: absolute;
	 left: 0;
	 right: 0;
	 content: "";
	 top: 0;
	 width: 80px;
	 height: 80px;
	 border-radius: 50%;
	 overflow: hidden;
	 background: rgba(10, 15, 65, 0);
	 transition: all 0.5s;
	 margin: auto;
	 content: "\f00c";
	 font-family: "FontAwesome";
	 color: #fff;
	 display: grid;
	 align-content: center;
	 justify-content: center;
	 font-size: 30px;
	 visibility: hidden;
}
 .comon-section-forms .items-form-check.active figure {
	 border: solid 5px #3141eb;
}
 .comon-section-forms .items-form-check.active figure:after {
	 background: rgba(10, 15, 65, 0.54);
	 visibility: visible;
}
 .comon-section-forms .items-form-check.active label span {
	 color: #3141eb;
}
 .wizard-form-radio {
	 background: #fff;
	 position: relative;
	 height: 170px;
	 width: 100%;
	 cursor: pointer;
	 text-align: center;
	 overflow: hidden;
}
 .wizard-form-radio .profil-pic {
	 background: #efefef;
	 border: solid 1px #efefef;
	 font-family: 'Sora', sans-serif;
	 position: relative;
	 height: 100px;
	 width: 100px;
	 display: grid;
	 align-content: center;
	 justify-content: center;
	 padding: 10px;
	 cursor: pointer;
	 margin-right: 20px;
	 overflow: hidden;
	 border-radius: 50%;
	 margin: auto;
}
 .wizard-form-radio .profil-pic figure {
	 position: absolute;
	 height: 100px;
	 width: 100px;
	 z-index: 1;
	 top: 0;
	 left: 0;
	 right: 0;
	 border-radius: 50%;
}
 .wizard-form-radio label {
	 font-family: "Sora", sans-serif;
	 cursor: pointer;
	 font-weight: 600;
	 font-size: 16px;
	 text-align: center;
	 width: 100%;
	 margin: auto;
	 word-break: break-word;
	 margin-top: 15px;
}
 .form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-select ~ label {
	 transform: scale(0.85) translateY(-1.2rem) translateX(0.15rem);
}
 .wizard-form-radio label span {
	 display: inline-block;
	 margin-right: 10px;
}
 .wizard-form-radio label svg {
	 display: grid;
	 color: #216fe0;
	 width: 30px;
	 height: 23px;
}
 .wizard-form-radio input[type="checkbox"] {
	 position: absolute;
	 width: 100%;
	 height: 100px;
	 left: 0;
	 top: 0;
	 opacity: 0;
	 z-index: 3;
	 cursor: pointer;
}
 .wizard-fieldset .form-group {
	 position: relative;
}
 .wizard-form-radio input[type="checkbox"]:checked + label:after {
	 position: absolute;
	 right: 0;
	 top: 0;
	 content: "\f00c";
	 font-family: "FontAwesome";
	 color: #fff;
	 font-size: 28px;
	 visibility: visible;
	 width: 100%;
	 height: 91px;
	 display: grid;
	 align-content: center;
	 justify-content: center;
	 text-align: center;
	 margin: auto;
	 left: 0;
	 background: rgba(10, 15, 65, 0.54);
}
 .wizard-form-radio.active .profil-pic {
	 border: solid 5px #3141eb;
}
 .wizard-form-radio.active .profil-pic:after {
	 position: absolute;
	 left: 0;
	 right: 0;
	 top: 0;
	 height: 100px;
	 width: 100px;
	 display: grid;
	 align-content: center;
	 justify-content: center;
	 padding: 10px;
	 content: "\f00c";
	 font-family: "FontAwesome";
	 background: rgba(10, 15, 65, 0.54);
	 z-index: 2;
	 color: #fff;
	 font-size: 28px;
}
 .comon-section-forms {
	 margin-top: 40px;
}
 .comon-section-forms h2 {
	 font-weight: 600;
	 font-size: 24px;
	 line-height: 30px;
	 color: #221639;
}
 .comon-section-forms .owl-nav {
	 position: absolute;
	 right: 0;
	 top: -64px;
	 width: 80px;
}
 .comon-section-forms .owl-nav .owl-prev {
	 margin-right: 35px !important;
	 opacity: 9;
	 position: absolute;
	 top: -10px;
	 left: 0;
}
 .comon-section-forms .owl-nav .owl-prev:after {
	 position: absolute;
	 left: 0;
	 content: "\f060";
	 font-family: "FontAwesome";
	 font-size: 22px;
	 font-family: 'FontAwesome';
	 color: #221639;
	 top: 0;
}
 .comon-section-forms .owl-nav .owl-prev span {
	 display: none;
}
 .comon-section-forms .owl-nav .owl-next {
	 opacity: 9;
	 position: absolute;
	 top: -10px;
	 right: 30px;
}
 .comon-section-forms .owl-nav .owl-next:after {
	 position: absolute;
	 left: 0;
	 content: "\f061";
	 font-family: "FontAwesome";
	 font-size: 22px;
	 font-family: 'FontAwesome';
	 color: #221639;
	 top: 0;
}
 .comon-section-forms .owl-nav .owl-next span {
	 display: none;
}
 .form-wizard .wizard-form-error {
	 display: none;
	 background-color: #d70b0b;
	 position: absolute;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 height: 2px;
	 width: 100%;
}
 .form-wizard .form-wizard-header {
	 text-align: center;
	 display: none;
}
 .form-wizard .wizard-fieldset {
	 display: none;
}
 .form-wizard .wizard-fieldset.show {
	 display: block;
}
 .form-wizard .form-group {
	 position: relative;
	 margin: 0 0 25px;
}
 .crm-grop1 {
	 margin: 20px 0;
	 display: inline-block;
	 width: 100%;
}
 .crm-grop1 label {
	 font-family: "Sora", sans-serif;
	 font-weight: 600;
	 padding-left: 0;
	 font-size: 16px;
}
 .crm-grop1 .form-control {
	 border: none;
	 border-bottom: 3px solid #d8d8d8;
	 border-radius: 0;
	 padding-left: 0;
}
 .sepcila-form {
	 top: -3px;
	 position: relative;
}
 .inp-icon {
	 position: absolute;
	 right: 0;
	 top: 17px;
}
 .cbn-comon-btn {
	 width: 100%;
	 height: 68px;
	 background: #3141eb;
	 color: #fff !important;
	 font-family: "Sora", sans-serif;
	 font-weight: 600;
	 text-align: center;
	 border-radius: 5px;
	 line-height: 65px;
	 font-family: 'Sora', sans-serif;
	 font-size: 20px;
	 transition: all 0.5s;
}
 .cbn-comon-btn:hover {
	 background: #221639;
}
 .pay-tips ul {
	 display: flex;
	 flex-wrap: wrap;
}
 .pay-tips li {
	 margin-right: 8px;
}
 .btn-check {
	 position: absolute;
	 clip: rect(0, 0, 0, 0);
	 pointer-events: none;
}
 .pay-tips li label {
	 font-family: 'Sora', sans-serif;
	 border-radius: 50%;
	 font-weight: 400;
	 color: #221639;
	 width: 75px;
	 height: 75px;
	 font-weight: 600;
	 font-size: 16px;
	 display: flex;
	 align-items: center;
	 border: 3px solid #dedede !important;
	 justify-content: center;
}
 .pay-tips li label.active {
	 background: #221639;
	 color: #fff;
	 box-shadow: none !important;
}
 .ctext {
	 font-size: 13px !important;
}
 #custome-divam {
	 display: none;
	 position: relative;
}
 .ne-but-div {
	 margin-top: 50px !important;
}
 .place-text01 {
	 color: #6b6b6b;
	 font-weight: 400;
	 font-size: 16px;
}
 .user-ndame-d figure {
	 width: 45px;
	 height: 45px;
}
 .user-ndame-d figure img {
	 filter: brightness(0) invert(1);
}
 .user-ndame-d h5 {
	 color: #fff;
	 font-size: 17px;
	 font-weight: 600;
}
 .user-ndame-d h5 span {
	 color: #ccd4fc;
	 font-weight: 400;
	 margin-top: 10px;
}
 .right-pays h1 {
	 font-size: 22px;
	 display: flex;
	 align-items: center;
}
 .right-pays h1 span {
	 font-size: 35px;
	 margin-left: 8px;
}
 .right-pays h1 span:first-child {
	 font-size: 15px;
}
 .top-next-h {
	 border-bottom: solid 2px #4f66d8;
	 padding-bottom: 15px;
}
 .user-ndame-d {
	 padding-top: 15px;
}
 .pre-btn {
	 background: #ededed;
	 border-radius: 8px;
	 width: 74px;
	/* height: 40px;
	 */
	 font-size: 30px;
	 position: absolute;
	 left: 0;
}
 .or-txt {
	 display: inline-block;
	 position: relative;
	 width: 100%;
	 margin: 50px 0px;
}
 .or-txt span {
	 background: #fff;
	 padding: 20px;
}
 .or-txt:after {
	 position: relative;
	 right: 0;
	 content: "";
	 top: -3px;
	 background: #f3f3f3;
	 height: 2px;
	 display: inline-block;
	 width: 45%;
}
 .or-txt:before {
	 position: relative;
	 left: 0;
	 content: "";
	 top: -3px;
	 background: #f3f3f3;
	 height: 2px;
	 display: inline-block;
	 width: 45%;
}
 .comonpay-btn {
	 width: 217px;
	 height: 60px;
	 background: #020202;
	 border-radius: 10px;
	 display: flex;
	 justify-content: center;
	 color: #fff !important;
	 font-family: 'Sora', sans-serif;
	 font-size: 24px;
	 font-weight: 600;
	 align-items: center;
	 margin: 0 15px;
}
 .comonpay-btn figure {
	 width: 20px;
	 height: 20px;
	 margin: 0;
	 margin-right: 8px;
}
 .apo {
	 filter: brightness(0) invert(1);
}
 .sepcila-form label {
	 font-family: 'Sora', sans-serif;
	 font-weight: 600;
	 font-size: 15px;
}
 .sepcila-form .form-select {
	 border: none;
	 background: none !important;
	 border-bottom: 3px solid #d8d8d8;
	 border-radius: 0;
	 padding-left: 0;
}
 .rating {
	 border: none;
	 margin: 0px;
	 margin-bottom: 18px;
	 text-align: center;
	 display: flex;
	 justify-content: center;
	 margin: auto;
}
 .rating > input {
	 display: none;
}
 .rating.star > label {
	 background-color: transparent !important;
}
 .rating.star > label {
	 color: #bbb;
	 margin: 1px 20px 0px 0px;
	 background-color: #fff;
	 border-radius: 0;
	 height: 35px;
	 float: right;
	 width: 14px;
	 border: none;
	 cursor: pointer;
}
 fieldset.rating.star > label:before {
	 margin-top: 0;
	 padding: 0px;
	 font-size: 31px;
	 font-family: FontAwesome;
	 display: inline-block;
	 content: "\2605";
	 position: relative;
	 top: -9px;
}
 .sucessfull-div h5 {
	 color: #fff;
	 font-family: 'Sora', sans-serif;
	 margin-top: 15px;
}
 .sucessfull-div h5 span {
	 font-weight: 600;
}
 .sucess-last figure {
	 width: 40%;
	 margin: auto;
	 margin-top: 50px;
	 display: table;
}
 .sucess-last h1 {
	 font-family: 'Sora', sans-serif;
	 font-weight: 600;
	 color: #221639;
	 font-size: 35px;
}
 .sucess-last p {
	 font-weight: 300;
	 font-size: 16px;
	 color: #848484;
	 width: 40%;
	 margin: auto;
	 font-family: 'Sora', sans-serif;
}
 .btncomubn {
	 background: #d9d9d9;
	 border-radius: 5px;
	 height: 74px;
	 width: 100%;
	 font-weight: 700;
	 font-size: 20px;
}
 .crmyt .form-control {
	 background: #f5f5f5;
	 border-radius: 10px;
	 height: 186px;
	 resize: none;
}
 .rate-area {
	 float: left;
	 border-style: none;
	 position: relative;
	 left: 50%;
	/* right: 0;
	 */
	 margin: auto;
	 display: block;
	 transform: translateX(-50%);
}
 .rate-area:not(:checked) > input {
	 position: absolute;
	 top: -9999px;
	 clip: rect(0, 0, 0, 0);
}
 .rate-area:not(:checked) > label {
	 float: right;
	 width: 29px;
	 overflow: hidden;
	 white-space: nowrap;
	 cursor: pointer;
	 font-size: 180%;
	 color: lightgrey;
}
 .rate-area:not(:checked) > label:before {
	 content: "★";
	 font-size: 34px;
}
 .rate-area > input:checked ~ label {
	 color: gold;
}
 .ratingu {
	 position: relative;
}
 .rate-area:not(:checked) > label:hover, .rate-area:not(:checked) > label:hover ~ label {
	 color: gold;
}
 .rate-area > input:checked + label:hover, .rate-area > input:checked + label:hover ~ label, .rate-area > input:checked ~ label:hover, .rate-area > input:checked ~ label:hover ~ label, .rate-area > label:hover ~ input:checked ~ label {
	 color: gold;
}
 .logohote-last figure {
	 width: 100px;
}
 .logohote-last h5 {
	 font-family: "Sora", sans-serif;
	 margin-top: 8px;
	 font-weight: 600;
	 font-size: 22px;
}
 .custom-option {
	 position: relative;
	 display: block;
	 padding: 0 22px;
	 border-bottom: 1px solid #e5e5e5;
	 font-size: 15px;
	 font-weight: 500;
	 color: #000;
	 line-height: 47px;
	 cursor: pointer;
	 transition: all 0.4s ease-in-out;
}
 .custom-option:first-of-type {
	 border-radius: 4px 4px 0 0;
}
 .custom-option:last-of-type {
	 border-bottom: 0;
	 border-radius: 0 0 4px 4px;
}
 .custom-option:hover, .custom-option.selection {
	 background: #f9f9f9;
}
 .custom-option {
	 position: relative;
	 display: block;
	 padding: 0 22px;
	 border-bottom: 1px solid #e5e5e5;
	 font-size: 15px;
	 font-weight: 500;
	 color: #000;
	 line-height: 47px;
	 cursor: pointer;
	 transition: all 0.4s ease-in-out;
}
 .custom-option:first-of-type {
	 border-radius: 4px 4px 0 0;
}
 .custom-option:last-of-type {
	 border-bottom: 0;
	 border-radius: 0 0 4px 4px;
}
 .custom-option:hover, .custom-option.selection {
	 background: #f9f9f9;
}
 .custom-select-wrapper {
	 position: relative;
	 display: inline-block;
	 user-select: none;
	 width: 100%;
}
 .custom-select-wrapper select {
	 display: none;
}
 .custom-select {
	 position: relative;
	 display: inline-block;
	 width: 100%;
}
 .custom-select-trigger {
	 position: relative;
	 display: block;
	 width: 100%;
	 padding: 0 84px 0 22px;
	 font-size: 16px;
	 font-weight: 600;
	 color: #221639;
	 line-height: 60px;
	 background: #f1f1f1;
	 border-radius: 4px;
	 cursor: pointer;
	 border: none;
	 border-bottom: 3px solid #d8d8d8;
	 border-radius: 0;
	 padding-left: 0;
	 background: none;
}
 .custom-select-trigger:after {
	 position: absolute;
	 display: block;
	 content: "";
	 width: 10px;
	 height: 10px;
	 top: 50%;
	 right: 25px;
	 margin-top: -3px;
	 border-bottom: 1px solid #000;
	 border-right: 1px solid #000;
	 transform: rotate(45deg) translateY(-50%);
	 transition: all 0.4s ease-in-out;
	 transform-origin: 50% 0;
}
 .custom-select.opened .custom-select-trigger:after {
	 margin-top: 3px;
	 transform: rotate(-135deg) translateY(-50%);
}
 .custom-options {
	 position: absolute;
	 display: block;
	 top: 100%;
	 left: 0;
	 right: 0;
	 min-width: 100%;
	 margin: 15px 0;
	 border: 1px solid #b5b5b5;
	 border-radius: 4px;
	 box-sizing: border-box;
	 box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07);
	 background: #fff;
	 transition: all 0.4s ease-in-out;
	 z-index: 2;
	 opacity: 0;
	 visibility: hidden;
	 pointer-events: none;
	 transform: translateY(-15px);
}
 .custom-select.opened .custom-options {
	 opacity: 1;
	 visibility: visible;
	 pointer-events: all;
	 transform: translateY(0);
}
 .custom-options:before {
	 position: absolute;
	 display: block;
	 content: "";
	 bottom: 100%;
	 right: 25px;
	 width: 7px;
	 height: 7px;
	 margin-bottom: -4px;
	 border-top: 1px solid #b5b5b5;
	 border-left: 1px solid #b5b5b5;
	 background: #fff;
	 transform: rotate(45deg);
	 transition: all 0.4s ease-in-out;
}
 .option-hover:before {
	 background: #f9f9f9;
}
 .custome-am {
	 position: relative;
}
 .wizard-form-error-div {
	 display: none;
}
 .wizard-form-error-div h6 {
	 background: none;
	 color: #d70b0b;
}
 .custom-option {
	 position: relative;
	 display: block;
	 padding: 0 22px;
	 border-bottom: 1px solid #e5e5e5;
	 font-size: 15px;
	 font-weight: 500;
	 color: #000;
	 line-height: 47px;
	 cursor: pointer;
	 transition: all 0.4s ease-in-out;
}
 .custom-option:first-of-type {
	 border-radius: 4px 4px 0 0;
}
 .custom-option:last-of-type {
	 border-bottom: 0;
	 border-radius: 0 0 4px 4px;
}
 .custom-option:hover, .custom-option.selection {
	 background: #f9f9f9;
}
 .sepcila-form2 label {
	 font-family: "Sora", sans-serif;
	 font-weight: 600;
	 padding-left: 0;
	 font-size: 16px;
	 margin-bottom: 8px;
}
 .button input[type="radio"] {
	 opacity: 0.011;
	 z-index: 100;
}
 .button input[type="radio"]:checked + label {
	 background: #20b8be;
	 border-radius: 4px;
}
 .button label {
	 cursor: pointer;
	 z-index: 90;
	 line-height: 1.8em;
}
 .radio-btn01 {
	 position: relative;
	 width: 81px;
	 height: 82px;
	 margin: auto;
}
 .radio-btn01 input[type="radio"] {
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 width: 100%;
	 left: 0;
	 right: 0;
	 opacity: 0;
	 cursor: pointer;
	 z-index: 1;
	 height: 100%;
}
 .radio-btn01.active figure {
	 background: #3141eb;
}
 .radio-btn01.active figure img {
	 filter: brightness(0) invert(1);
}
 #departments-mj {
	 display: none;
}
 #allstaff {
	 display: none;
}
 .small-iconh {
	 font-size: 18px;
}
 #spnError {
	 font-family: "Sora", sans-serif;
	 font-size: 16px;
	 color: #d70b0b;
}
 @media (max-width: 1180px) {
	 .sucess-last p {
		 width: 50%;
	}
}
 @media (max-width: 1024px) {
	 .oung-div h5 {
		 font-size: 18px;
	}
	 .top-headr h1 {
		 font-size: 29px;
	}
}
 @media (max-width: 768px) {
	 .oung-div h5 {
		 font-size: 18px;
	}
	 .top-headr h1 {
		 color: #fff;
		 font-size: 29px;
	}
	 .or-txt:before, .or-txt:after {
		 width: 43%;
	}
	 .oung-div label {
		 margin-top: 0;
	}
	 .small-iconh {
		 font-size: 15px;
	}
}
 @media (max-width: 668px) {
	 header {
		 background: #000;
		 background-position: center top;
		 background-size: 120%;
		 padding: 33px 15px;
		 height: 200px;
		 overflow: hidden;
		 position: relative;
	}
	 .wizard-form-radio .profil-pic figure {
		 width: 95px;
		 height: 95px;
	}
	 .comon-section-forms .owl-nav {
		 top: inherit !important;
		 bottom: 0;
		 position: relative;
	}
	 .texr07 {
		 position: relative;
		 min-height: 132px;
	}
	 .spo-width {
		 width: 100%;
	}
	 .top-headr {
		 padding: 0;
		 min-height: inherit;
		 background-size: cover;
		 border-radius: 0;
		 margin-top: 0;
		 background: none !important;
	}
	 .top-headr h1 {
		 color: #fff;
		 font-size: 31px;
		 font-weight: 700;
	}
	 .top-headr p {
		 font-size: 14px;
	}
	 .img-top {
		 width: 93%;
		 height: 104px;
		 border-radius: 8px;
		 padding: 8px;
		 margin-left: auto;
	}
	 .body-part0 {
		 padding-top: 50px;
	}
	 .body-part0 .topbd-head01 h1 {
		 font-weight: 700;
		 font-size: 24px;
	}
	 .body-part0 .oung-div {
		 width: 100%;
		 display: inline-block;
	}
	 .body-part0 .oung-div figure {
		 width: 55px;
		 height: 55px;
		 margin: auto !important;
		 border-radius: 50%;
	}
	 .tabsd-sctions .nav-item {
		 width: inherit !important;
	}
	 .oung-div h5 {
		 font-size: 13px;
		 margin-top: 12px;
	}
	 .body-part0 .tabsd-sctions {
		 padding: 28px 33px;
		 margin-top: 20px;
	}
	 .comon-section-forms h2 {
		 font-size: 20px;
	}
	 .crm-grop1 label {
		 font-size: 15px;
	}
	 .pay-tips li {
		 margin-bottom: 20px;
	}
	 .place-text01 {
		 font-size: 13px;
	}
	 .cbn-comon-btn {
		 font-size: 17px;
		 height: 40px;
		 line-height: 59px;
	}
	 .ne-but-div {
		 margin-top: 40px !important;
	}
	 .comon-section-forms {
		 padding-bottom: 20px;
	}
	 .let-herd h1 {
		 font-size: 22px;
	}
	 .right-pays h1 span {
		 font-size: 31px;
	}
	 .user-ndame-d h5 {
		 color: #fff;
		 font-size: 14px;
		 font-weight: 600;
	}
	 .user-ndame-d h5 span {
		 font-size: 12px;
		 margin-top: 2px;
	}
	 .user-ndame-d figure {
		 width: 25px;
		 height: 25px;
	}
	 .top-next-h {
		 padding-bottom: 11px;
	}
	 .user-ndame-d {
		 padding-top: 11px;
	}
	 .or-txt:after, .or-txt:before {
		 width: 30%;
	}
	 .nexty-btn {
		 font-size: 17px;
		 height: 50px;
		 line-height: 40px;
	}
	 .sucess-last h1 {
		 font-weight: 700;
		 font-size: 25px;
	}
	 .sucess-last p {
		 width: 90%;
	}
	 .btncomubn {
		 font-size: 17px;
		 height: 54px;
	}
	 .wizard-form-radio .profil-pic {
		 width: 95px;
		 height: 95px;
	}
	 .wizard-form-radio input[type=checkbox]:checked + label:after {
		 height: 95px;
	}
	 .wizard-form-radio.active .profil-pic:after {
		 height: 95px;
		 width: 100%;
	}
}
 @media (max-width: 480px) {
	 header {
		 background: #000;
		 background-position: center top;
		 background-size: 120%;
		 padding: 33px 15px;
	}
	 .pay-tips li label {
		 width: 66px;
		 height: 66px;
	}
	 .wizard-form-radio input[type=checkbox]:checked + label:after {
		 height: 75px;
	}
	 .wizard-form-radio.active .profil-pic:after {
		 height: 75px;
		 width: 100%;
	}
	 .wizard-form-radio .profil-pic figure {
		 width: 75px;
		 height: 75px;
	}
	 .wizard-form-radio .profil-pic {
		 width: 75px;
		 height: 75px;
	}
	 .comon-section-forms .owl-nav {
		 position: absolute;
		 right: 0;
		 bottom: 13px;
		 width: 80px;
	}
	 .top-headr {
		 padding: 0;
		 min-height: inherit;
		 background-size: cover;
		 border-radius: 0;
		 margin-top: 0;
		 background: none !important;
	}
	 .top-headr h1 {
		 color: #fff;
		 font-size: 18px;
		 font-weight: 700;
	}
	 .top-headr p {
		 font-size: 11px;
	}
	 .pay-tips li label {
		 width: 75px;
		 height: 75px;
	}
	 .img-top {
		 width: 93%;
		 height: 76px;
		 border-radius: 8px;
		 padding: 8px;
		 margin-left: auto;
	}
	 .body-part0 {
		 padding-top: 25px;
	}
	 .body-part0 .topbd-head01 h1 {
		 font-weight: 700;
		 font-size: 17px;
	}
	 .body-part0 .oung-div {
		 width: 100%;
		 display: inline-block;
	}
	 .body-part0 .oung-div figure {
		 width: 55px;
		 height: 55px;
		 margin: auto !important;
		 border-radius: 50%;
	}
	 .tabsd-sctions .nav-item {
		 width: inherit !important;
	}
	 .oung-div h5 {
		 font-size: 14px;
		 margin-top: 12px;
	}
	 .body-part0 .tabsd-sctions {
		 padding: 28px 6px;
		 margin-top: 28px;
	}
	 .comon-section-forms h2 {
		 font-size: 20px;
	}
	 .crm-grop1 label {
		 font-size: 15px;
	}
	 .pay-tips li {
		 margin-bottom: 20px;
	}
	 .place-text01 {
		 font-size: 13px;
	}
	 .cbn-comon-btn {
		 font-size: 17px;
		 height: 40px;
		 line-height: 59px;
	}
	 .ne-but-div {
		 margin-top: 40px !important;
	}
	 .comon-section-forms {
		 padding-bottom: 15px;
	}
	 .let-herd h1 {
		 font-size: 14px;
	}
	 .right-pays h1 span {
		 font-size: 21px;
	}
	 .user-ndame-d h5 {
		 color: #fff;
		 font-size: 14px;
		 font-weight: 600;
	}
	 .user-ndame-d h5 span {
		 font-size: 12px;
		 margin-top: 2px;
	}
	 .user-ndame-d figure {
		 width: 25px;
		 height: 25px;
	}
	 .top-next-h {
		 padding-bottom: 11px;
	}
	 .user-ndame-d {
		 padding-top: 11px;
	}
	 .or-txt:after, .or-txt:before {
		 width: 30%;
	}
	 .nexty-btn {
		 font-size: 17px;
		 height: 50px;
		 line-height: 40px;
	}
	 .sucess-last h1 {
		 font-weight: 700;
		 font-size: 25px;
	}
	 .sucess-last p {
		 width: 90%;
	}
	 .btncomubn {
		 font-size: 17px;
		 height: 54px;
	}
	 .img-top figure {
		 margin: 0 !important;
		 width: 40px;
		 height: auto;
	}
	 .img-top h6 {
		 font-size: 10px;
	}
	 .wizard-form-radio label {
		 font-size: 14px;
	}
}
 @media (max-width: 414px) {
	 .oung-div h5 {
		 text-align: center;
	}
	 .top-headr h1 {
		 font-size: 21px;
	}
	 .sucessfull-div h1 {
		 font-size: 30px;
	}
	 .sucess-last h1 {
		 font-size: 28px;
	}
	 .wizard-form-radio label {
		 font-size: 14px;
	}
}
 @media (max-width: 393px) {
	 .top-headr h1 {
		 font-size: 18px;
	}
	 .top-headr h1 {
		 font-size: 15px;
	}
	 .sucessfull-div h1 {
		 font-size: 27px;
	}
}
 @media (max-width: 320px) {
	 .oung-div h5 {
		 font-size: 13px;
	}
	 .wizard-form-radio input[type=checkbox]:checked + label:after {
		 height: 85px;
	}
	 .wizard-form-radio.active .profil-pic:after {
		 height: 85px;
		 width: 100%;
	}
	 .wizard-form-radio .profil-pic {
		 height: 90px;
		 width: 90px;
	}
	 .right-pays h1 span {
		 font-size: 16px;
	}
	 .top-headr h1 {
		 font-size: 15px;
	}
	 .sucessfull-div h1 {
		 font-size: 24px;
	}
	 .body-part0 .topbd-head01 h1 {
		 font-size: 20px;
	}
	 .let-herd h1 {
		 font-size: 13px;
	}
	 .sucess-last h1 {
		 font-size: 23px;
	}
	 .img-top h6 {
		 font-size: 8px;
	}
	 .img-top {
		 text-align: center;
	}
	 .img-top figure {
		 margin: 0 !important;
		 width: 30px;
		 height: auto;
	}
}
 